[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Tweetian
Exec=/usr/bin/invoker --type=silica-qt5 -s /usr/bin/harbour-tweetian
Icon=harbour-tweetian
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Nemo-Application-Type=silica-qt5
